.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__reloj {
        margin: 10px;

        span {
            font-size: 2rem;
        }
    }
}