<header class="header">
    <div class="header__sup">
        <ul class="sup__ul">
            <li class="sup__li"><a href="" class="sup__a">Registrar mi restaurante</a></li>
            <li class="sup__li"><a href="" class="sup__a">Ayuda</a></li>
        </ul>
    </div>
    <div class="header__inf">
        <h1 class="inf__h1">
            <a href="" class="inf__a"><img src="" alt="" class="inf__img"></a>
        </h1>
        <button class="inf__button">
            <svg class="inf__svg"></svg>
            <span class="inf__span">Iniciar Sesion</span>
        </button>
    </div>
</header>