<!-- <div class="container">
  <h1> Hola App Component: {{ title }} </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo quia adipisci sunt quis id ut dolore soluta deserunt culpa! Quasi architecto ullam est voluptatum blanditiis recusandae ab incidunt accusantium.
  </p>
  <h2>
    {{ nombre }}
  </h2>
  
  <div class="contador center">
    {{ contador }}
  </div>
  <div class="center">
    <button (click)="go_prev ()"> Prev </button>
    <button (click)="go_next ()"> Next </button>
  </div>
</div> -->

<!-- <app-reloj></app-reloj>
<app-par-impar></app-par-impar> -->

<app-modal></app-modal>
<app-redimension></app-redimension>
<app-grid-imagenes></app-grid-imagenes>