<div class="card">
    <img
        *ngIf="!slide.video"
        [src]="slide.img" alt="imagen" class="card__img">
        <video *ngIf=" autoplay && slide.video " preload="none" playsinline [src]="slide.src" class="card__video" muted autoplay></video>
        <video *ngIf=" !autoplay && slide.video " preload="none" playsinline [src]="slide.src" class="card__video"></video>
    <div
        *ngIf=" slide.inicial "
        class="card__info inicial">
        <span
            *ngIf=" slide.serie "
            class="card__span"> Serie completa </span>
        <h2 class="card__h2"> {{ slide.titulo }} </h2>
        <p class="card__descripcion"> {{ slide.subtitulo }} </p>
        <button class="card__btn">
            <a [routerLink]="['/peliculas']">{{ slide.boton.texto }}</a>
        </button>
    </div>
    <div
        *ngIf=" !slide.inicial "
        class="card__info">
        <span
            *ngIf=" slide.serie "
            class="card__span"> Serie completa </span>
        <h2 class="card__h2"> {{ slide.titulo }} </h2>
        <p class="card__descripcion"> {{ slide.subtitulo }} </p>
        <button class="card__btn"> {{ slide.boton.texto }} </button>
    </div>
</div>