.tabs {
    width: 100%;
    position: relative;

    &__centrado {
        width: 92%;
        margin: auto;
    }

    &__ul {
        margin: 2rem 0;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__li {
        margin: 0 2rem 0 0;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        cursor: pointer;

        &:hover {
            color: #02ffa1;
        }

        &:hover.activo {
            color: white;
        }

        &.activo {
            border-bottom: 2px solid #02ffa1;
        }
    }

    &__detalles, &__similares, &__valoraciones, &__extras {
        position: absolute;
        opacity: 0;
        width: 100%;

        &.activo {
            opacity: 1;
        }
    }

}