<!-- <div class="slider">
    <div class="slider__superior">
        <h2 class="slider__titulo">Selecciones de The Fork</h2>
        <ul class="slider__ul">
            <li class="slider__li">
                <button 
                    (click)="disminuirNumero()"
                    [ngClass]=" { 'disabled' : numero <= 0 } "
                    class="slider__btn disabled">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </button>
            </li>
            <li class="slider__li">
                <button 
                    (click)="aumentarNumero()"
                    [ngClass]=" { 'disabled' : numero >= limite - 1 } "
                    class="slider__btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

    <div 
        [ngStyle]=" { 
            width               : ancho(),
            transform           : translateX(),
            gridTemplateColumns : grid()
        } "
        class="slider__move">
        <app-slider-card 
            *ngFor=" let card of slides; let i = index "></app-slider-card>
        
    </div>

</div> -->

<div class="slider">

    <div class="slider__superior">
        <h1 class="slider__titulo"> {{ titulo }} </h1>
        <ul class="slider__ul">
            <li class="slider__li">
                <button
                    (click)="disminuirNumero()"
                    [ngClass]=" { 'disabled' : numero <= 0 } "
                    class="slider__btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
            </li>
            <li class="slider__li">
                <button
                    (click)="aumentarNumero()"
                    [ngClass]=" { 'disabled' : numero >= limite - 1 } "
                    class="slider__btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </li>
        </ul>
    </div>

    <div
        *ngIf=" slides.length >= 1 "
        [ngStyle]="{
            width               : ancho(),
            transform           : translateX(),
            gridTemplateColumns : grid()
        }"
        class="slider__lista">

        <app-slider-card
            [tipo]=" tipo "
            [props]=" card "
            *ngFor=" let card of slides; let i = index"></app-slider-card>

    </div>

    <div
        *ngIf=" slides.length === 0 "
        class="slider__mensaje">
        No existen elementos para mostrar 
    </div>

</div>






