
<div class="buscador">
    <div class="buscador__wrapper">
        <form action="#" class="buscador__form">
            <div class="buscador__container">
                <div class="buscador__input">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <input 
                        type="text"
                        name="pelicula"
                        [(ngModel)]="pelicula"
                        placeholder="Busca por título, director, actor, tag..."
                        autocomplete="off"
                        class="buscador__text">

                    <ng-container *ngFor="let pelicula of peliculas | filtrar:pelicula ">
                        <a [routerLink]=" [ '/pelicula' , pelicula.url ] ">
                            <div class="buscador__resultado">
                                <div class="buscador__pelicula">
                                    <img [src]="pelicula.portada" alt="hola" class="buscador__img">
                                    <div class="buscador__info">
                                        <ul class="buscador__datos">
                                            <li class="buscador__nombre">
                                                {{ pelicula.titulo }}
                                            </li>
                                            <li class="buscador__director">
                                                {{ pelicula.director }}, {{ pelicula.anio }}
                                            </li>
                                        </ul>
                                        <span class="buscador__nota">
                                            {{ pelicula.nota }}
                                        </span>
                                    </div>
                                </div>
            
                                <div class="buscador__otros">
                                    <h2 class="buscador__titulo">{{ pelicula.titulo }}</h2>
                                    <ul class="buscador__ul">
                                        <li class="buscador__li">
                                            {{ pelicula.director }}
                                        </li>
                                        <li class="buscador__li">
                                            {{ pelicula.anio }}
                                        </li>
                                    </ul>
                                    <p class="buscador__duracion"> {{ pelicula.duracion }} </p>
                                    <p class="buscador__descripcion"> {{ pelicula.descripcion }} </p>
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
</div>