.buscador {
    width: 100%;
}
.buscador__wrapper {
    width: 100%;
    margin: auto;
    max-height: 80vh;
    
    overflow-y: scroll;
}
.buscador__form {
}
.buscador__container {
    position: relative;
}
.buscador__input {
    background: white;
    padding: 1em 2em;
    width: 100%;
    border-radius: .3rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    svg {
        width: 2rem;
        height: 2rem;
        fill: black;
    }
}
.buscador__text {
    width: calc( 100% - 4.5rem );
    padding: 2rem 1rem;
    border: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;

    &::placeholder {
        font-size: 1.3rem;
        color: grey;
        font-weight: 500;
    }

    &:focus-visible {
        outline-style: none;
    }

    &:focus + .buscador__resultado {
        display: flex;
    }
}
.buscador__resultado {
    width: 100%;
    border-radius: .3rem;
    margin: 1em 0 0 0;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    transition: all .5s ease;

    &:hover {
        background: #5d606b40;
    }
}
.buscador__pelicula {
    background: tomato;
    width: 100%;
    max-width: 300px;
    position: relative;

}
.buscador__img {
}
.buscador__info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: .5em 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.buscador__datos {

}
.buscador__nombre {
    font-weight: 900;
    color: white;
    letter-spacing: -1px;
}
.buscador__director {
    font-size: .875rem;
    color: lightgray;
}
.buscador__nota {
    background-color: #5d606b;
    color: #fff;
    border-radius: 0.1875rem;
    font-size: .875rem;
    font-weight: 800;
    box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
    padding: 0.1rem .5rem;
}
.buscador__otros {
    padding: 1em;
    width: 100%;
}
.buscador__titulo {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    line-height: 1em;

    @media screen and (max-width: 1300px) {
        font-size: 1.5rem;
    }
}
.buscador__ul {
    margin: 1em 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.buscador__li {
    color: black;
    opacity: 0.5;
    font-weight: 600;
    margin: 0 1em 0 0;
}
.buscador__duracion {
    margin: 1em 0;
    color: black;
    font-weight: 600;
}
.buscador__descripcion {
    color: black;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 1.1rem;
    @media screen and (max-width: 1300px) {
        font-size: .875rem;
    }
}