
<div class="filtro">
    <div class="filtro__wrapper">
        <button 
            (click)=" setFiltro() "
            class="filtro__boton">
            <span class="filtro__span">{{ rutaActiva }}</span>
            <svg 
                [ngClass]=" { 'activo' : filtro } "
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            <nav 
                [ngClass]=" { 'activo' : filtro } "
                class="filtro__nav">
                <ul class="filtro__ul">
                    <li class="filtro__li">Todo</li>
                    <li 
                        [ngClass]="{ 'activo' : rutaActiva === 'peliculas' }"
                        class="filtro__li">
                        <a [routerLink]=" [ '/peliculas' ] ">Peliculas</a>
                    </li>
                    <li 
                        [ngClass]="{ 'activo' : rutaActiva === 'series' }"
                        class="filtro__li">
                        <a [routerLink]=" [ '/series' ] ">Series</a>
                    </li>
                    <li class="filtro__li">Cortos</li>
                </ul>
            </nav>
        </button>
        <button class="filtro__boton">
            <span class="filtro__span">Todos los géneros</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
</div>