.filtro {
    width: 100%;
    padding: 1em 0;
    background: #141426;

    &__wrapper {
        width: 92%;
        margin: auto;

        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
    }

    &__boton {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;

        cursor: pointer;
        background: #242432;
        border-radius: .3em;
        padding: 1em 1.5em;

        &:hover {
            
        }

        svg {
            fill: white;
            width: 1.2em;
            height: 1.2em;
            margin: 0 0 0 1em;

            transition: all .2s ease;

            &.activo {
                transform: rotate(180deg);
            }
        }
    }

    &__span {
        color: white;
        font-size: 1.1em;
        font-weight: 600;
        text-transform: capitalize;
    }

    &__nav {
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        background: #141426;
        padding: 1em 0;
        border: 1px solid #242432;
        border-radius: .3em;
        width: 150%;

        display: none;

        &.activo {
            display: block;
        }
    }

    &__ul {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__li {
        padding: 1em 2em;
        color: white;
        font-size: 1.2em;
        font-weight: 600;
        width: 100%;
        text-align: left;

        &:hover {
            background: #060613;
        }

        &.activo {
            color: #02ffa1;
            background: #242432;
        }
    }
}