@import 'mixins';

.container {
    width: 100%;
    background: linear-gradient(153.43deg, hsl(104, 46%, 89%) 0%, hsl(114, 63%, 97%) 100%);
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: hsl(104, 38%, 42%);
        width: .5rem;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
    }
}

.container__centrado {
    padding: 1.1rem 0;
    width: 100%;
    max-width: 67rem;
    margin: auto;
    @include flex ( row , nowrap , center , center);
}

.container__tarjeta {

}
.container__info {
    @include flex ( row , nowrap , center , center );
    gap: 1rem;
}
.container__texto {
    width: 100%;
}
.container__titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.container__subtitulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.container__boton {
    width: 100%;
}

.container__button {
    @include flex ( row , nowrap , center , center );
    padding: .6rem;
    background: hsl(104, 38%, 42%);
    border-radius: .3rem;
    cursor: pointer;

    &:hover {
        background: hsl(104, 37%, 32%);
    }

    svg {
        width: auto;
        fill: white;
        margin: 0 0 0 1rem;
    }
}
.container__span {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    font-weight: 600;
    color: white;
}