<!-- 
<h1> {{ activo }} </h1>

<button (click)="metodo()"> Cambiar activo </button>

<h1> {{ activo1 }} </h1>
<button (click)="metodo1()"> Cambiar activo1 </button>

<h1> {{ activo2 }} </h1>
<button (click)="metodo2()"> Cambiar activo2 </button>

<h1> {{ activo3 }} </h1>
<button (click)="metodo3()"> Cambiar activo3 </button>

<h1> {{ activo4 }} </h1>
<button (click)="metodo4()"> Cambiar activo4 </button>

<h1> {{ activo5 }} </h1>
<button (click)="metodo5()"> Cambiar activo5 </button> -->

<h1> {{ foto }} </h1>
<button (click)=" aumentarFoto() "> Aumentar foto </button>
<button (click)=" disminuirFoto() "> Disminuir foto </button>
<button (click)=" cambiarFoto(0) "> Cambiar foto a 0 </button>
<button (click)=" cambiarFoto(1) "> Cambiar foto a 1 </button>
<button (click)=" cambiarFoto(2) "> Cambiar foto a 2 </button>

<h1> {{ foto1 }} </h1>
<button (click)=" aumentarFoto1() "> Aumenta </button>
<button (click)=" disminuirFoto1() "> Diminuye </button>
<button (click)=" cambiarFoto1(0) "> Cambia a 0 </button>
<button (click)=" cambiarFoto1(1) "> Cambia a 1 </button>
<button (click)=" cambiarFoto1(2) "> Cambia a 2 </button>

<h1> {{ foto2 }} </h1>
<button (click)=" aumentarFoto2() "> Aumenta </button>
<button (click)=" disminuirFoto2() "> Diminuye </button>
<button (click)=" cambiarFoto2(0) "> Cambia a 0 </button>
<button (click)=" cambiarFoto2(1) "> Cambia a 1 </button>
<button (click)=" cambiarFoto2(2) "> Cambia a 2 </button>

<h1> {{ foto3 }} </h1>
<button (click)=" aumentaTernario() "> Aumenta Ternario </button>
<button (click)=" disminuirFoto3() "> Diminuye </button>
<button (click)=" cambiarFoto3(0) "> Cambia a 0 </button>
<button (click)=" cambiarFoto3(1) "> Cambia a 1 </button>
<button (click)=" cambiarFoto3(2) "> Cambia a 2 </button>