* {
    font-family: sans-serif;
}

body {
    background-color: rgb(204, 215, 228);
}

h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 3rem;
}

#grid {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    gap: 10px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 10px;

    padding: 15px;
    text-transform: capitalize;

    background-color: #00000088;

    cursor: pointer;
    transition: all 0.5s ease;
}

.pokemon:hover {
    transform: scale(1.03);
}

.nombre {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    color: white;
}

.imagen {
    width: 70%;
}

.numero {
    font-family: 'VT323', monospace;
    color: white;
}

.tipos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tipos span {
    font-family: 'VT323', monospace;
    min-width: 40%;
    padding: 4px;
    letter-spacing: -1px;
    font-size: 1.3em;
    border-radius: 15%;
    text-align: center;
}

.Planta {
    background-color: #76cb54;
}

.Agua {
    background-color: #3397fd;
    color: white;
}

.Normal {
    background-color: #DDCCAA;
}

.Veneno {
    background-color: #7f3b6f;
    color: white;
}

.Volador {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.Bicho {
    background-color: #a6b621;
    color: #1c1c1c;
}

.Fuego {
    background-color: #ff4f30;
    color: white;
}

.Eléctrico {
    background-color: #FFD700;
}

.Tierra {
    /*background-color: #e4c274;*/
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}

.Hada {
    background-color: #fca8fc;
    color: #323030;
}

.Lucha {
    background-color: #c46756;
    color: white;
}

.Psíquico {
    background-color: #fe589a;
    color: white;
}

.Fantasma {
    background-color: #6565b7;
    color: white;
}

.Roca {
    background-color: #c6b577;
}

.Acero {
    background-color: #a4a4b5;
}

.Dragón {
    background-color: #7459df;
    color: white;
}

.Hielo {
    background-color: #7edffd;
}

.Siniestro {
    background-color: #5b4a42;
    color: white;
}

#botones {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00000088;

    transition: left 0.2s ease-in;
}

.contenidoModal {
    width: 60%;
    padding: 0 0 20px 0;
    gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;

    border-radius: 10px;
}

.activo {
    left: 0;
}

.nombre__pokemon {
    width: 100%;
    text-align: center;
    background-color: #631a0e;
    padding: 10px 0 10px 0;
    font-family: 'VT323', monospace;
    font-size: 2em;
    text-transform: capitalize;
    color: white;
}

.descripcion__pokemon {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
}

.contenido__pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.imagenPokemon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 30%;
}

.sprite {
    width: 100%;
}

.imagenPokemon select {
    
    background-color: #911904;
    border: none;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.2em;

    padding: 10px;
    border-radius: 10px;
}

.imagenPokemon select option {
    font-family: 'VT323', monospace;
}

.imagenPokemon select option:checked {
    background-color: #212121;
}

.imagenPokemon select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}

select:focus > option:checked { 
    background: #000 !important;
}

.datosPokemon {
    width: 65%;
    gap: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estadisticas__pokemon {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #911904;
    color: white;
    width: 100%;
    border-radius: 10px;
    
}

.datos__pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #631a0e;
    padding: 10px;
}

.habilidades__pokemon {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;
}

.altura__pokemon, .peso__pokemon {
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}

.habilidad {
    display: flex;
    justify-content: space-between;
}

.habilidad__nombre {
    width: 20%;
}

.habilidad__descripcion {
    width: 60%;
}

.habilidad span {
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}