.App {
}
.Wrapper {

    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    background: orange;

    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    gap: 1rem;
}

.Specs {
    width: 100%;
    background: lightgrey;

    &-spec{
        background: aqua;
        padding: 1rem;
        border-radius: .5rem;
        
        &.amarillo {
            background: rgba(255,184,0);
        }
        &.negro {
            background: black;
        }
        &.lila {
            background: rgba(112,0,255);
        }
        &.blanco {
            background: white;
        }
        &.azul {
            background: rgba(0,122,255);
        }
        &.rosa {
            background: rgba(255,45,85);
        }
    }
    &-svg {
        width: 2rem;
        height: 2rem;
        background: crimson;
        border-radius: 50%;
        margin: 0 0 1rem;
    }
    &-h2 {
        color: black;
    }
}