
<app-cabecera
    (enviarPokemon)="setNombrePokemon($event)"></app-cabecera>

<main class="pokedex">
    
    <div class="pokedex__wrapper">

         <div class="pokedex__grid">

             <article 
                *ngFor=" let pokemon of pokedex | filtraPokemon:nombrePokemon ; let i = index  "
                class="pokedex__pokemon">
                <a [routerLink]=" [ '/pokemon' , pokemon.nombre ]"
                    class="pokedex__a">
                    <img 
                        loading="lazy"
                        [src]="pokemon.img" 
                        [alt]="pokemon.nombre"
                        class="pokedex__img">
                    <h2 class="pokedex__h2"> {{ pokemon.nombre }} </h2>
                    <div class="pokedex__tipos">
                        <span 
                            *ngFor=" let tipo of pokemon.tipos"
                            [ngClass]="{ 
                                'planta'    : tipo === 'Planta',
                                'fuego'     : tipo === 'Fuego',
                                'agua'      : tipo === 'Agua',
                                'bicho'     : tipo === 'Bicho',
                                'volador'   : tipo === 'Volador',
                                'veneno'    : tipo === 'Veneno',
                                'psiquico'  : tipo === 'Psíquico',
                                'roca'      : tipo === 'Roca',
                                'tierra'    : tipo === 'Tierra',
                                'normal'    : tipo === 'Normal',
                                'electrico' : tipo === 'Eléctrico',
                                'hada'      : tipo === 'Hada',
                                'dragon'    : tipo === 'Dragón',
                                'hielo'     : tipo === 'Hielo',
                                'fantasma'  : tipo === 'Fantasma',
                                'lucha'     : tipo === 'Lucha'
                            }"
                            class="pokedex__tipo">
                            {{ tipo }}
                        </span>
                    </div>
                </a>
            </article>

         </div>
    </div>

</main>