.pokedex {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.pokedex__wrapper {
    width: 70%;
    margin: 4em auto;
}
.pokedex__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.pokedex__pokemon {
    padding: 2em;
    border-radius: 20px;
    background: #e0e0e0;
    border-radius: 20px;
        background: #e0e0e0;
        box-shadow: inset 10px 10px 20px #bebebe,
                    inset -10px -10px 20px #ffffff;

    transition: all .5s ease;

    &:hover {
        transform: scale(1.03);
    }
}
.pokedex__a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.pokedex__img {

}
.pokedex__h2 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: black;
    font-family: 'VT323', monospace;
}
.pokedex__tipos {
    margin: .5em 0 0 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.pokedex__tipo {
    font-family: 'VT323', monospace;
    text-align: center;
    min-width: 40%;
    padding: 4px;
    letter-spacing: -1px;
    font-size: 1.3em;
    border-radius: 1rem;

    &.planta {
        background-color: #76cb54;
        color: #1c1c1c;
    }
    &.agua {
        background-color: #3397fd;
        color: white;
    }
    &.normal {
        background-color: #DDCCAA;
    }
    &.veneno {
        background-color: #7f3b6f;
        color: white;
    }
    &.volador {
        background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        background-color: #3dc7ef;
        color: #212121;
    }
    &.bicho {
        background-color: #a6b621;
        color: #1c1c1c;
    }
    &.fuego {
        background-color: #ff4f30;
        color: white;
    }
    &.electrico {
        background-color: #FFD700;
    }
    &.tierra {
        /*background-color: #e4c274;*/
        background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
        background-color: #f7de3f;
        color: #323030;
    }
    &.hada {
        background-color: #fca8fc;
        color: #323030;
    }
    &.lucha {
        background-color: #c46756;
        color: white;
    }
    &.psiquico {
        background-color: #fe589a;
        color: white;
    }
    &.fantasma {
        background-color: #6565b7;
        color: white;
    }
    &.roca {
        background-color: #c6b577;
    }
    &.acero {
        background-color: #a4a4b5;
    }
    &.dragon {
        background-color: #7459df;
        color: white;
    }
    &.hielo {
        background-color: #7edffd;
    }
    &.siniestro {
        background-color: #5b4a42;
        color: white;
    }
}
