
<header class="header">

    <div class="header__menu">
        <h1 
            [ngClass]=" { 'activo' : activo } "
            class="header__h1"> {{menu.empresa}} </h1>
        <button
            (click)="setActivo()"
            [ngClass]=" { 'activo' : activo } "
            class="header__button"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
    </div>

    <nav
        [ngClass]=" { 'activo' : activo } "
        class="header__nav">
        <div class="header__nav--izq">
            <ul class="header__ul">
                <li 
                    *ngFor=" let elemento of listaMenu; let i = index "
                    (mouseover)="setOver(i)"
                    (mouseout)="setOver(-1)"
                    [ngClass]=" { 'activo' : activo, 'inactivo' : !activo } "
                    class="header__li">
                    <a href="#" class="header__a"> {{ elemento.nombre }} </a>
                    <ul 
                        [ngClass]=" { 'ver' : over === i } "
                        class="header__li--subul">
                        <li 
                            *ngFor=" let subelemento of elemento.elementos; let i = index "
                            (mouseover)="setSrcActiva(subelemento.src)"
                            (mouseout)="setSrcActiva('')"
                            class="header__li--subli"> 
                            {{ subelemento.nombre }}
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="header__footer">
                <ul class="header__footer--ul">
                    <li 
                        *ngFor=" let elemento of footer; let i = index "
                        class="header__footer--li"> 
                        {{ elemento }}
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="header__imagen">
            <img
                [ngClass]=" { 'activa' : srcActiva !== '' } "  
                class="header__imagen--img" [src]="srcActiva" alt="prueba">
        </div>
        
    </nav>
    
</header>