
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &__menu {
        width: 80%;
        max-width: 1200px;
        margin: auto;
        padding: 1em 0;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__h1 {
        font-size: 2rem;
        color: black;
        
        position: relative;
        z-index: 3;
        
        transition: all 3s ease;

        &.activo { 
            color: white;
        }
    }

    &__button {
        border: 1px solid black;
        padding: 0.65rem;
        color: black;

        position: relative;
        z-index: 3;

        transition: all 1s ease;

        &:hover {
            cursor: pointer;
        }

        &.activo {
            color: white;
            border-color: white;
        }
    }

    &__nav {
        width: 100%;
        height: 100vh;
        background: black;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 2;

        display: flex;
        flex-flow: row wrap;

        transition: all 2s ease;
        
        &.activo {
            left: 0;
        }

        &--izq {
            position: relative;
            width: 40%;
        }
    }

    &__ul {
        margin-left: 3em;
        display: inline-block;
        position: relative;
        top: calc(100% / 4);
    }

    &__imagen {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--img {
            opacity: 0;
            width: 60%;
            
            transition: all 2s ease;
            &.activa {
                opacity: 1;
            }
        }
    }

    &__footer {
        margin-left: 3em;
        position: fixed;
        bottom: 50px;

        &--ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }

    &__li {
        font-size: 2rem;
        opacity: 0;
        margin: 0 0 1.5em 0;
        transition: all 1s ease 2s;

        &:hover {
            cursor: pointer;
        }

        &.activo {
            opacity: 1;
        }

        &.inactivo {

        }

        &--subul {
            height: 0;
            opacity: 0;
            margin-top: 1em;
            overflow: hidden;

            transition: all 1s ease;
            
            &.ver {
                height: 3em;
                opacity: 1;
            }
        }

        &--subli {
            font-size: 1rem;
            margin: 0.5em 0;

            transition: all 1s ease;

            &:hover {
                color: white;
            }
        }
    }

    &__a {
        color: white;
    }
}