<div class="container">
    <div class="container__h2">
        <h2> Listado Rick y Morty {{num_personajes}} </h2>
    </div>
    <div class="container__listado">
        <!-- <div *ngFor="let cadaPersonaje of personajes" class="personaje">
            {{cadaPersonaje.name}}
            <div class="personaje__imagen">
                <img [src]="cadaPersonaje.image" alt="hola">
            </div>
        </div> -->
            <app-ficha-personaje *ngFor="let cadaPersonaje of personajes" [personaje]="cadaPersonaje"
            (fav)="detectarEvento($event)">
            </app-ficha-personaje>
        <div class="botones">
            <button id="anterior" (click)="anterior()" > Anterior </button>
            <button (click)="siguiente()" > Siguiente </button>
        </div>
    </div>