.slider {
    width: 100%;
    height: 40vh;
    background: lightgray;
    position: relative;

    overflow: hidden;
}
.slider__cards {
    width: 200%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    transition: all .5s ease;

    transform: translateX(-50%);
}
.slider__card {
    background: tomato;
    width: 100%;
    height: 100%;
    position: relative;
}
.slider__img {
    
}
.slider__info {
    background: #00000088;
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 0 0 2rem 0;

    &.inicial {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
    }
}
.slider__h2 {
    font-size: 3rem;
    font-weight: 900;
}
.slider__descripcion {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    opacity: 0.5;
}
.slider__btn {
    margin: 2rem 0 0 0;
    background: white;
    padding: 1rem;
    border-radius: .4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.slider__flecha {
    position: absolute;
    top: 0;
    height: 100%;
    background: forestgreen;
    z-index: 4;

    svg {
        fill: white;
    }

    &.izq {
        left: 0;
    }

    &.dcha {
        right: 0;
    }

    &.disabled {
        display: none;
    }

}