<div class="slider">
    <div class="slider__centrado">
        <ul
            [ngStyle]=" {
                width : ancho(),
                gridTemplateColumns : grid(),
                transform : translateX()
            } "
            class="slider__cards">
            <app-slider-cabecera-card 
                *ngFor=" let slide of slider; let i = index "
                [autoplay]=" numero == i  "
                [slide]="slide"></app-slider-cabecera-card>
        </ul>
    </div>

    <button 
        (click)="disminuir()"
        [ngClass]="{ 'disabled' : numero <= 0 }"
        class="slider__flecha izq">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </button>
    <button
        (click)="aumentar()"
        [ngClass]="{ 'disabled' : numero >= slider.length - 1 }"
        class="slider__flecha dcha">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </button>
</div>
