* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

::selection {
    background-color: black;
}

:root {
    --color-javascript: #ffc601;
    --color-angular: rgb(214, 54, 54);
    --color-react: rgb(18, 183, 189);
    --color-mongo: #20AE5A;
    --fuente-principal: 'Space Mono', monospace;
    --fuente-secundaria: 'Montserrat', sans-serif;
}

body {
    overflow-y: hidden;
}

/* body::-webkit-scrollbar {
    -webkit-appearance: none;
    background: black;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
} */

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 1.5em 0;
    z-index: 1;
}

.header .header__nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
}

.header .header__nav ul li {
    list-style: none;
    font-family: var(--fuente-principal);
    font-weight: bold;
    color: var(--color-secundario);
    cursor: pointer;
} */

.fondos {
    position: relative;
    z-index: 1;
    transition: all 1.5s ease;
}

.fondo__portada {
    height: 100vh;
    width: 100%;
    position: absolute;

    background: url('https://wallpaperaccess.com/full/5651990.jpg');
    background-position: center;
    filter: brightness(0.3);
}

.main {
    height: 100vh;
    transition: all 1.5s ease;
    
    position: relative;
    z-index: 4;
}

.main__portada, .main__proyectos, .main__about, .main__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    position: absolute;
    left: 0;
}

.main__proyectos, .main__contacto {
    background: #222020;
}

.main__portada {
    top: 0;
}

.main__proyectos {
    top: 100%;
}

.main__about {
    top: 200%;
}

.main__contacto {
    top: 300%;
}

.portada__container h3, .proyectos__h2 h2, .about__container h2, .contacto__h2 h2 {
    font-family: var(--fuente-secundaria);
    color: white;
    font-size: 1.5em;
    line-height: 1;
}

.portada__container {
    max-width: 1200px;
    width: 80%;
}

.portada__container h1 {
    font-size: 5em;
    font-weight: 600;
    line-height: 1;
    color: white;
    font-family: var(--fuente-secundaria);
    margin: 0.5em 0 0 0;
}

.portada__h2 {
    margin: 2em 0 0 0;
    position: relative;
    height: 100%;
}

.portada__span {
    font-family: var(--fuente-secundaria);
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    transform: rotateX(180deg) translateY(-100%);
    opacity: 0;
    transition: all 1s ease;
}

.portada__span.visible {
    opacity: 1;
    transform: rotateX(0) translateY(0%);
}

.portada__span.javascript {
    color: var(--color-javascript);
}
.portada__span.angular {
    color: var(--color-angular);
}
.portada__span.react {
    color: var(--color-react);
}
.portada__span.mongo {
    color: var(--color-mongo);
}

.portada__botones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.portada__boton {
    background: #262424;
    color: white;
    padding: 0.5em 1em;
    font-family: var(--fuente-secundaria);
    font-weight: 600;
    cursor: pointer;

    border: 3px solid #262424;
    border-radius: .3rem;
    transition: all 0.5s ease;
}

.portada__boton:hover {
    background: transparent;
}

.proyectos__container {
    width: 90%;
    max-width: 1200px;
    position: relative;
    padding: 4em;

    border-radius: 16px;
    background: #222020;
    box-shadow:  12px 12px 21px #1e1c1c,
                -12px -12px 21px #1e1c1c;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.proyectos__ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.proyectos__li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.proyectos__icono {
    width: 3em;
    height: 3em;
    opacity: 0;
    transition: all .5s ease;
}
.proyectos__icono.activo {
    opacity: 1;
}

.proyectos__h3 {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    font-family: var(--fuente-secundaria);
}

.proyectos__svgs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 2em 0 0 0;
}

.proyectos__h2 {
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 1em;
    font-family: var(--fuente-secundaria);
    cursor: pointer;
    color: lightgray;

    transition: all 0.5s ease;
}

.proyectos__h2::after {
    content: '';
    display: block;
    margin: 2px 0 0 0;
    height: 3px;
    background: var(--color-react);
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.proyectos__h2.activo::after {
    transform: scale(1);
    transform-origin: left;
}

.proyectos__h2.activo {
    color: var(--color-react);
}

.proyectos__h2.angular.activo {
    color: rgb(214 54 54);
}
.proyectos__h2.angular::after {
    background: rgb(214 54 54);
}

.proyectos__h2.javascript.activo {
    color: var(--color-javascript);
}

.proyectos__h2.javascript::after {
    background: var(--color-javascript);
}

.proyectos__specs {
    margin: 1em 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    opacity: 0;
    transition: all 0.5s ease;
}

.proyectos__specs.activo {
    opacity: 1;
}

.proyectos__spec {
    margin: 0 .5em;
    color: white;
    font-family: var(--fuente-principal);
    pointer-events: none;
}

.proyectos__display {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10em;
    margin: 4em 0 0 0;
}

.proyectos__grid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1rem;

    pointer-events: none;

    transition: opacity 2s ease;
    transition: height 1s ease;
}

.proyectos__grid.activo {
    pointer-events: all;
    height: 100%;
    opacity: 1;
}

.proyecto {
    position: relative;
    overflow: hidden;
    animation: aparecer 1s;
}

.proyecto img {
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    border-radius: 1rem;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: #000000CC; */

    /* background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px ); */
    border-radius: .2rem;
    background: #222020;
    box-shadow: inset 12px 12px 21px #1e1c1c,
            inset -12px -12px 21px #262424;

    color: white;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.proyecto:hover .overlay {
    opacity: 0;
    transition: opacity 1s ease;
}

.proyecto:hover {
    cursor: pointer;
}

.proyecto:hover img {
    transform: scale(1.02);
}

.overlay .overlay__titulo {
    font-family: var(--fuente-principal);
    font-size: 1.1rem;
}

.overlay .overlay__subtitulo {
    font-family: var(--fuente-principal);
    font-size: 0.8rem;
}

.main__about {
    background: #262424;
}

.about__container {
    background: #222020;
    padding: 5em;
    max-width: 75%;
    max-width: 75%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.about__p {
    color: white;
}

.about__img {
    max-width: 500px;
    border-radius: .5rem;
}

.footer {
    background: transparent;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    padding: 2em 0;
}
.footer__wrapper {
    width: 95%;
    max-width: 1600px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}
.footer__icono {
    width: 1.5em;
    height: 1.5em;
}