* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

::selection {
    background-color: black;
}

:root {
    --color-primario: rgb(103, 16, 185);
    --color-secundario: rgb(18, 183, 189);
    --fuente-principal: 'Space Mono', monospace;
}

body {
    /* overflow-y: hidden; */
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    background: black;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 1.5em 0;
    z-index: 1;
}

.header .header__nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;

}

.header .header__nav ul li {
    list-style: none;
    font-family: var(--fuente-principal);
    font-weight: bold;
    color: var(--color-secundario);
    cursor: pointer;
}

.activo {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--color-primario);
}

.main {
    height: 100vh;
    transition: all 1s ease;
}

.main__portada, .main__proyectos, .main__about, .main__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    background-color: black;
    position: absolute;
    left: 0;
}

.main__portada {
    top: 0;
}

.main__proyectos {
    top: 100%;
}

.main__about {
    top: 200%;
}

.main__contacto {
    top: 300%;
}

.portada__h2 h2, .proyectos__h2 h2, .about__h2 h2, .contacto__h2 h2 {
    font-family: var(--fuente-principal);
    color: var(--color-secundario);
}

.main__proyectos {
    gap: 20px;
}

.main__proyectos .proyectos__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.proyectos__grid .proyecto {
    width: 25%;
    height: 45%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
}

.proyectos__grid .proyecto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #000000CC;
    color: white;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.proyecto:hover .overlay {
    opacity: 0;
    transition: opacity .5s ease;
}

.proyecto:hover {
    cursor: pointer;
}

.proyecto:hover img {
    transform: scale(1.05);
}

.overlay .overlay__titulo {
    font-family: var(--fuente-principal);
    font-size: 1.1rem;
}

.overlay .overlay__subtitulo {
    font-family: var(--fuente-principal);
    font-size: 0.8rem;
}

