.detalles {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.detalles__izq {
    width: 60%;
}
.card {
    padding: 2em 5em 2em 2em;
    margin: 0 1em 1em 0;
    border-radius: .5rem;
    background: #242432;
}
.detalles__h2 {
    font-size: 1.4rem;
    margin: 0 0 1em 0;
    color: #5d606b;
    font-weight: 600;
}
.detalles__dcha {
    width: 40%;
}