<section class="detalles">

    <div class="detalles__izq">
        <article class="detalles__sinopsis">
            <app-pelicula-detalles-card></app-pelicula-detalles-card>
        </article>
    
        <article class="detalles__premios">
    
        </article>
    
        <article class="detalles__temas">
    
        </article>
    </div>

    <div class="detalles__dcha">
        <article class="detalles__reparto">
    
        </article>
    
        <article class="detalles__audio">
    
        </article>

        <article class="detalles__masinfo">

        </article>
    </div>


</section>