body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: rgb(23, 68, 105);
    padding: 20px;
}

.header #entrada {
    width: 30%;
    padding: 10px;
    font-family: 'Rowdies', cursive;
}

.header #fecha {
    padding: 8px;
    font-family: 'Rowdies', cursive;
}

.header #persona {
    padding: 10px;
    font-family: 'Rowdies', cursive;
}

.header i {
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.header i:hover {
    color: rgb(0, 0, 0);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000088;
}

#contenidoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    font-family: 'Rowdies', cursive;

    background-color: white;
    height: 35%;
    width: 35%;
}

#contenidoModal h3 {
    text-align: center;
}

#contenidoModal input, #contenidoModal select {
    font-family: 'Rowdies', cursive;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}

#contenidoModal button {
    border: none;
    background-color: black;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Rowdies', cursive;
}

.activo {
    display: flex;
}

.caja__tareas {
    display: flex;
    flex-direction: column;
    height: 42vh;
    overflow-y: scroll;
}

.tareas h2 {
    text-align: center;
    font-family: 'Rowdies', cursive;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid rgb(23, 68, 105);
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.tareaFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tareaGrid {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tareas .tarea {
    background-color: rgb(230, 154, 93);
    margin-left: 20px;
    margin-right: 20px;

    transition: transform 0.1s ease;

    cursor: move;
}

.tareas .tarea:hover {
    transform: scale(1.01);
}

.tareas .tarea span {
    font-family: 'Rowdies', cursive;
}

.tareas .tareaFlex span:first-child {
    margin-left: 20px;
}

.tarea .datos {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tarea .datos .nombre {
    font-size: 1.2em;
}

.tarea .datos .persona {
    color: black;
    background-color: beige;
    padding: 5px;
    border-radius: 10%;
}

.tarea .fecha {
    font-size: 0.9em;
}

.tareas .tareaFlex .botones, .tareas .tareaGrid .botones {
    font-size: 1.5em;
    display: flex;
    gap: 10px;
    background-color: #00000088;
    color: white;
}

.tareaGrid .botones {
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tareaFlex .botones {
    padding: 20px;
}

.tareas .tarea .botones span:hover {
    cursor: pointer;
}

.tareas .tarea .borrar:hover {
    color: tomato;
}

.tareas .tarea .completar:hover {
    color: green;
}

.tareas .tarea .editar:hover {
    color: gold;
}

.completado {
    background-color: rgb(63, 92, 21) !important;
}

.completado span {
    color: white;
}

.completado .completar {
    color: rgb(13, 49, 13);
}

.completado .completar:hover {
    color: whitesmoke !important;
}
