body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    background-color: cadetblue;
    padding: 20px;
}

.header #entrada {
    width: 75%;
    padding: 10px;
}

.header #enviar {
    border-radius: 50%;
    border: none;
}

.tareas h2 {
    font-family: sans-serif;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid gainsboro;
}

.tareas .tarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}