

<div class="container">

    <div class="container__slider">
        <div class="container__info">
            <span class="container__autor">
                Pepe
            </span>
            <h2 class="container__nombre">
                Dunes Anthrazite
            </h2>
            <p class="container__descripcion">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ipsa architecto temporibus, ut sequi maxime culpa quia perspiciatis aperiam rem perferendis.
            </p>
            <button class="container__detalles">
                Product Details
            </button>
        </div>
        <div class="container__imagen">
            <img src="../../../assets/silla_negra.png" alt="">
        </div>
    </div>

    <div class="container__banner">
        <div class="container__elemento">
            <span class="container__numero">
                01
            </span>
            <h3 class="container__mueble">
                Dunes Anthrazite
            </h3>
        </div>
    </div>

</div>