body {
    margin: 0;
}

.clip-circle {
    clip-path: circle(60px at center);
}

.hola {
    height: 100vh;
    background-image: url('https://librosostenibilidad.files.wordpress.com/2017/03/paisaje-cultura-sostenibilidad.jpg?w=2000&h=1365&crop=1') ;
    background-position: center;
    background-size: cover;

}